<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask HTMX Example</title>
    <link type="text/css" rel="stylesheet" href="style.scss" />
    <!-- Include HTMX library -->
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>
<body>
    <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
            <div class="card">
            <div class="card-body p-5">
                <form hx-post="....../issues/add/" hx-trigger="submit" class="form-row">
                    <label for="creation_timestamp">Creation Timestamp:</label>
                    <input type="text" id="creation_timestamp" name="creation_timestamp" placeholder="0">
                    
                    <label for="issue_id">Issue ID:</label>
                    <input type="text" id="issue_id" name="issue_id" placeholder="0">
                    
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" placeholder="temp description"></textarea>
                    
                    <label for="colaborator_id">Colaborator ID:</label>
                    <input type="text" id="colaborator_id" name="colaborator_id" placeholder="1">
                    
                    <label for="state">State:</label>
                    <input type="text" id="state" name="state" placeholder="1">
                    
                    <input type="submit" value="Submit Issue">
                  </form>
                  
                    
                <!-- Tabs navs -->
                <!-- <ul class="nav nav-tabs mb-4 pb-2" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a 
                        class="nav-link active" 
                        id="ex1-tab-1" 
                        data-mdb-toggle="tab" 
                        href="#ex1-tabs-1" 
                        role="tab"
                        aria-controls="ex1-tabs-1" 
                        aria-selected="true"
                        hx-get="/issues"
                        hx-target="#ex1-content"
                        hx-swap="outerHTML"
                    >
                        All
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab"
                    aria-controls="ex1-tabs-2" aria-selected="false"
                    >
                        Active
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#ex1-tabs-3" role="tab"
                    aria-controls="ex1-tabs-3" aria-selected="false"
                    >
                        Completed
                    </a>
                </li>
                </ul> -->
                <div
                    class="tab-content"
                    id="ex1-content" 
                    id="ex1-content" 
                    hx-get="/issues" 
                    hx-trigger="revealed" 
                    hx-swap="outerHTML">
                </div>
            </div>
        </div>
        </div>
    </div>
    </section>
</body>
</html>